
data.csv
.ipynb_checkpoints/Var_1.1-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Time_series_preparation_v1-checkpoint.ipynb
.ipynb_checkpoints/Time_series_preparation_v1-checkpoint.ipynb
.ipynb_checkpoints/Time_series_preparation_v2-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/SSA_lib.cpython-37.pyc
__pycache__/visuals.cpython-37.pyc
.ipynb_checkpoints/Time_series_preparation_v1-checkpoint.ipynb
*.csv
.ipynb_checkpoints/Time_series_preparation_v3-checkpoint.ipynb
.ipynb_checkpoints/Time_series_preparation_v4-checkpoint.ipynb
.DS_Store
data/acc_run.mat
data/acc_wlk.mat
.ipynb_checkpoints/apply_dr-checkpoint.ipynb
